slurm*.out
*egg-info
junk*
input_files
profiling
experiments
notebooks
replica_mixing
*.svg
mm_calculations/
*.sh
*.ipynb
simple_test_systems
repex_simulations
simulations
squashfs-root
*.model
*.log
